<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Rdio</string>
	<key>CFBundleExecutable</key>
	<string>Rdio Plugin</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.jameswmann.QSRdioPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rdio Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>QSActionsTemplate</key>
	<dict>
		<key>RdioPluginExample</key>
		<dict>
			<key>actionClass</key>
			<string>QSRdioPluginActionProvider</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSRdioPluginType</string>
			</array>
			<key>icon</key>
			<string>ToolbarAdvanced</string>
			<key>name</key>
			<string>Rdio Action Example</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>James W Mann</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Gives controls and other functionality to the Rdio desktop mac client through Quicksilver.</string>
		<key>extendedDescription</key>
		<string>HTML formatted documentation for this plug-in.</string>
		<key>icon</key>
		<string>com.rdio.desktop</string>
		<key>relatedBundles</key>
		<array>
			<string>com.rdio.desktop</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetRdioPluginGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetRdioControlScripts</string>
					<key>icon</key>
					<string>com.rdio.desktop</string>
					<key>name</key>
					<string>Rdio Controls</string>
					<key>source</key>
					<string>QSRdioPluginControlSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.rdio.desktop</string>
			<key>name</key>
			<string>Rdio</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSRdioPluginActionProvider</key>
			<string>QSRdioPluginActionProvider</string>
		</dict>
		<key>QSApplicationActionsTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<dict>
				<key>RdioPluginExampleCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSRdioPluginActionProvider</string>
					<key>command</key>
					<string>RdioPluginExampleCommand</string>
					<key>name</key>
					<string>Application Action Example</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>QSRdioPluginType</key>
			<string>QSRdioPluginSource</string>
		</dict>
		<key>QSBundleChildHandlersTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<string>QSRdioPluginSource</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>RdioPluginDecreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSRdioPluginControlsProvider</string>
								<key>actionSelector</key>
								<string>decreaseVolume</string>
								<key>icon</key>
								<string>RdioIcon</string>
								<key>name</key>
								<string>Rdio Decrease Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioPluginInternalCommand</string>
				</dict>
			</dict>
			<key>RdioPluginIncreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSRdioPluginControlsProvider</string>
								<key>actionSelector</key>
								<string>increaseVolume</string>
								<key>icon</key>
								<string>RdioIcon</string>
								<key>name</key>
								<string>Rdio Increase Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioPluginInternalCommand</string>
				</dict>
			</dict>
			<key>RdioPluginNextTrack</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSRdioPluginControlsProvider</string>
								<key>actionSelector</key>
								<string>nextTrack</string>
								<key>icon</key>
								<string>RdioNextIcon</string>
								<key>name</key>
								<string>Rdio Next Track</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioPluginInternalCommand</string>
				</dict>
			</dict>
			<key>RdioPluginPlayPause</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSRdioPluginControlsProvider</string>
								<key>actionSelector</key>
								<string>playPause</string>
								<key>icon</key>
								<string>RdioPlayPauseIcon</string>
								<key>name</key>
								<string>Rdio Play/Pause</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioPluginInternalCommand</string>
				</dict>
			</dict>
			<key>RdioPluginPreviousTrack</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSRdioPluginControlsProvider</string>
								<key>actionSelector</key>
								<string>previousTrack</string>
								<key>icon</key>
								<string>RdioPreviousIcon</string>
								<key>name</key>
								<string>Rdio Previous Track</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioPluginInternalCommand</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSRdioPluginType</key>
			<string>QSRdioPluginSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSRdioPluginControlSource</key>
			<string>QSRdioPluginControlSource</string>
			<key>QSRdioPluginSource</key>
			<string>QSRdioPluginSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>RdioPluginPrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>RdioPluginPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>RdioPlugin</string>
			</dict>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>RdioPluginSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>RdioPlugin Proxy</string>
				<key>providerClass</key>
				<string>QSRdioPluginSource</string>
				<key>types</key>
				<array>
					<string>QSRdioPluginType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEventsTemplate</key>
		<dict>
			<key>RdioPluginSomeEvent</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Do something in response to this event</string>
				<key>provider</key>
				<string>QSRdioPluginSource</string>
			</dict>
		</dict>
		<key>QSTriggerSetsTemplates</key>
		<dict>
			<key>RdioPluginTriggers</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>RdioPlugin</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSRdioPluginType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>RdioPlugin Object</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.rdio.desktop</string>
				<key>name</key>
				<string>Rdio</string>
			</dict>
		</array>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>RdioIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.jameswmann.QSRdioPlugin</string>
			<key>resource</key>
			<string>rdio.icns</string>
		</dict>
		<key>RdioNextIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.jameswmann.QSRdioPlugin</string>
			<key>resource</key>
			<string>next.icns</string>
		</dict>
		<key>RdioPlayPauseIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.jameswmann.QSRdioPlugin</string>
			<key>resource</key>
			<string>playPause.icns</string>
		</dict>
		<key>RdioPreviousIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.jameswmann.QSRdioPlugin</string>
			<key>resource</key>
			<string>previous.icns</string>
		</dict>
	</dict>
	<key>QSTriggerAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>RdioPluginTrigger</string>
			<key>command</key>
			<string>RdioPluginExampleCommand</string>
			<key>defaults</key>
			<dict>
				<key>characters</key>
				<string>x</string>
				<key>keyCode</key>
				<integer>124</integer>
				<key>modifiers</key>
				<integer>9961768</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Example Trigger</string>
			<key>set</key>
			<string>RdioPlugin</string>
		</dict>
	</array>
</dict>
</plist>
